flows.json
[
    {
        "id": "ac5ff1e93343fdc4",
        "type": "tab",
        "label": "MedicionesGrafcan",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "23d3cf0a3496401e",
        "type": "tab",
        "label": "OpenMeteo",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "3132f082b38ee5af",
        "type": "tab",
        "label": "TestPostgre",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "8b9026f3bf7c3130",
        "type": "subflow",
        "name": "Crear dispositivo y \\n guardar atributos",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 300,
                "y": 140,
                "wires": [
                    {
                        "id": "e93f84c9ee251f8b"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 880,
                "y": 620,
                "wires": [
                    {
                        "id": "d90d184d7d0a10ca",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "09b02b2d35a7817d",
        "type": "group",
        "z": "23d3cf0a3496401e",
        "name": "",
        "style": {
            "fill": "#ffefbf",
            "label": true
        },
        "nodes": [
            "9e8a99185e3350ed",
            "73fa8a22d0710a6a",
            "a8b988c67fdf4f2f",
            "c4acccca2bd0358a"
        ],
        "x": 14,
        "y": 99,
        "w": 552,
        "h": 142
    },
    {
        "id": "50a43dec8ecaae07",
        "type": "group",
        "z": "23d3cf0a3496401e",
        "name": "",
        "style": {
            "fill": "#e3f3d3",
            "label": true
        },
        "nodes": [
            "de93898b4de01368",
            "68bf10eabf62b720",
            "89fa674e6b03b2fc"
        ],
        "x": 14,
        "y": 459,
        "w": 452,
        "h": 142
    },
    {
        "id": "828fd948ae8fccc5",
        "type": "group",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "style": {
            "fill": "#ffdf7f",
            "label": true
        },
        "nodes": [
            "dd89e59f2e171af0",
            "f2ba5a20785da92e",
            "b0979fc019df0930",
            "bd6cc888142034bd"
        ],
        "x": 14,
        "y": 79,
        "w": 532,
        "h": 142
    },
    {
        "id": "f0ac185242f45480",
        "type": "group",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "style": {
            "fill": "#c8e7a7",
            "label": true
        },
        "nodes": [
            "5961e93125cdcd7a",
            "0e0af2f148980a05",
            "1a0051617ef581d4",
            "a35366a13b4e809f"
        ],
        "x": 14,
        "y": 499,
        "w": 412,
        "h": 222
    },
    {
        "id": "95be1cdf72319762",
        "type": "sqlitedb",
        "db": "/data/datalog.db",
        "mode": "RWC"
    },
    {
        "id": "1c25415d.b8427f",
        "type": "sqlitedb",
        "db": "/home/pi/sqlite/nodered"
    },
    {
        "id": "156af96f.f8fd27",
        "type": "ui_tab",
        "name": "Home",
        "icon": "home",
        "order": "1"
    },
    {
        "id": "1e3fe400.0baf5c",
        "type": "ui_tab",
        "name": "Reports",
        "icon": "dashboard",
        "order": 9
    },
    {
        "id": "27c3d951.18a4e6",
        "type": "ui_group",
        "name": "MiFlora",
        "tab": "156af96f.f8fd27",
        "order": 2,
        "disp": true,
        "width": "6"
    },
    {
        "id": "bd903d6.d9fc7c",
        "type": "ui_group",
        "name": "Report",
        "tab": "1e3fe400.0baf5c",
        "order": 2,
        "disp": true,
        "width": "18"
    },
    {
        "id": "1e17cd0b.862863",
        "type": "ui_group",
        "name": "Selection",
        "tab": "1e3fe400.0baf5c",
        "order": 1,
        "disp": true,
        "width": "5"
    },
    {
        "id": "e985c4fd8e8ea693",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "2136aee6ef4e9b7a",
        "type": "sqlitedb",
        "db": "/home/jr/Desktop/nodeRed/data/meteo",
        "mode": "RWC"
    },
    {
        "id": "b5d03cf417768022",
        "type": "postgreSQLConfig",
        "name": "",
        "host": "127.0.0.1",
        "hostFieldType": "str",
        "port": 5432,
        "portFieldType": "num",
        "database": "postgres",
        "databaseFieldType": "str",
        "ssl": "false",
        "sslFieldType": "bool",
        "applicationName": "",
        "applicationNameType": "str",
        "max": 10,
        "maxFieldType": "num",
        "idle": 1000,
        "idleFieldType": "num",
        "connectionTimeout": 10000,
        "connectionTimeoutFieldType": "num",
        "user": "postgres",
        "userFieldType": "str",
        "password": "19",
        "passwordFieldType": "str"
    },
    {
        "id": "876c3041d466255e",
        "type": "mqtt-broker",
        "name": "",
        "broker": "mqtt.iter.es",
        "port": "1885",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "865b5e4cc82adc9d",
        "type": "mqtt-broker",
        "name": "Thingsboard Regadia",
        "broker": "192.168.21.95 ",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "fe995dd71f47bc61",
        "type": "ui_tab",
        "name": "Consumos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "81a2f5bbe3a80eb1",
        "type": "ui_tab",
        "name": "Contratos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "acb10ab240778cc3",
        "type": "ui_group",
        "name": "Consumos",
        "tab": "fe995dd71f47bc61",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "31b6db9637c3b6e0",
        "type": "ui_group",
        "name": "Contratos",
        "tab": "81a2f5bbe3a80eb1",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "6486a74df0a5e86c",
        "type": "ui_tab",
        "name": "Consumos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "f0bcb797a1891545",
        "type": "ui_tab",
        "name": "Contratos",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "e1baacbbf9df14b0",
        "type": "ui_group",
        "name": "Consumos",
        "tab": "6486a74df0a5e86c",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "efecad6ef4ce3071",
        "type": "ui_group",
        "name": "Contratos",
        "tab": "f0bcb797a1891545",
        "order": 1,
        "disp": true,
        "width": "25",
        "collapse": false,
        "className": ""
    },
    {
        "id": "a0e60584a490e8a4",
        "type": "http request",
        "z": "8b9026f3bf7c3130",
        "name": "http create device",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://nexo.iter.es/api/device",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 290,
        "y": 200,
        "wires": [
            [
                "4f13c8f45c40614a"
            ]
        ]
    },
    {
        "id": "3f0a289543d47f65",
        "type": "debug",
        "z": "8b9026f3bf7c3130",
        "name": "debug 20",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.id.id",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 200,
        "wires": []
    },
    {
        "id": "e93f84c9ee251f8b",
        "type": "change",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Accept",
                "pt": "msg",
                "to": "*/*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Accept-Enconding",
                "pt": "msg",
                "to": "gzip, deflate, br",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"name\":device_info.name,\t   \"type\":device_info.type,\t   \"label\":device_info.label,\t   \"deviceProfileId\":{\t       \"id\":device_info.deviceProfileId,\t       \"entityType\":\"DEVICE_PROFILE\"\t   }\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 460,
        "y": 140,
        "wires": [
            [
                "a0e60584a490e8a4"
            ]
        ]
    },
    {
        "id": "e11ba8605ecefc28",
        "type": "http request",
        "z": "8b9026f3bf7c3130",
        "name": "http get access token",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://nexo.iter.es/api/device/{{{device_id}}}/credentials",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 220,
        "y": 460,
        "wires": [
            [
                "fc0a72c64cb51476"
            ]
        ]
    },
    {
        "id": "e081c80a6a8b739b",
        "type": "debug",
        "z": "8b9026f3bf7c3130",
        "name": "debug 22",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 540,
        "wires": []
    },
    {
        "id": "fc0a72c64cb51476",
        "type": "json",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 490,
        "y": 460,
        "wires": [
            [
                "d54ac966bc79315e"
            ]
        ]
    },
    {
        "id": "5748446c83ab90dd",
        "type": "change",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_id",
                "pt": "msg",
                "to": "payload.id.id",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "0328a1e1fd5a60bf",
                "6aee540d3b600c3d"
            ]
        ]
    },
    {
        "id": "4f13c8f45c40614a",
        "type": "json",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 200,
        "wires": [
            [
                "3f0a289543d47f65",
                "5748446c83ab90dd"
            ]
        ]
    },
    {
        "id": "0328a1e1fd5a60bf",
        "type": "debug",
        "z": "8b9026f3bf7c3130",
        "name": "debug 23",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "6aee540d3b600c3d",
        "type": "change",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Accept",
                "pt": "msg",
                "to": "*/*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Accept-Enconding",
                "pt": "msg",
                "to": "gzip, deflate, br",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 240,
        "y": 380,
        "wires": [
            [
                "e11ba8605ecefc28"
            ]
        ]
    },
    {
        "id": "2da61355f8398ee6",
        "type": "change",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Accept",
                "pt": "msg",
                "to": "*/*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Accept-Enconding",
                "pt": "msg",
                "to": "gzip, deflate, br",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{   \"name\": \"Dummy 2\",   \"type\": \"Software\",   \"label\": \"dummy-2\",   \"deviceProfileId\": {     \"id\": \"04d00af0-7cda-11eb-9bab-33d40eea06fa\",     \"entityType\": \"DEVICE_PROFILE\"   } }",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 160,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "6fa722c5eb4c00a4",
        "type": "inject",
        "z": "8b9026f3bf7c3130",
        "name": "Create device",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "d90d184d7d0a10ca",
        "type": "http request",
        "z": "8b9026f3bf7c3130",
        "name": "http save attributes",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://nexo.iter.es/api/v1/{{{device_info.access_token}}}/attributes",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 350,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "37ef461932770651",
        "type": "debug",
        "z": "8b9026f3bf7c3130",
        "name": "debug 29",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 320,
        "wires": []
    },
    {
        "id": "7e55932d7f9981c7",
        "type": "change",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "token",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Authorization",
                "pt": "msg",
                "to": "thingsboard.X-Authorization",
                "tot": "global"
            },
            {
                "t": "set",
                "p": "headers.Accept",
                "pt": "msg",
                "to": "*/*",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "headers.Accept-Enconding",
                "pt": "msg",
                "to": "gzip, deflate, br",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\t   \"cups\":device_info.cups,\t   \"pointType\":device_info.pointType,\t   \"distributorCode\":device_info.distributorCode\t}",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 620,
        "wires": [
            [
                "d90d184d7d0a10ca"
            ]
        ]
    },
    {
        "id": "d54ac966bc79315e",
        "type": "change",
        "z": "8b9026f3bf7c3130",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "device_info.access_token",
                "pt": "msg",
                "to": "payload.credentialsId",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 280,
        "y": 540,
        "wires": [
            [
                "e081c80a6a8b739b",
                "7e55932d7f9981c7"
            ]
        ]
    },
    {
        "id": "e23df2acfa4feeaa",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 1070,
        "y": 140,
        "wires": [
            [
                "c943dd8822646770",
                "341a4b2720b61926"
            ]
        ]
    },
    {
        "id": "1e692a03ebcb0c6e",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionOrotava",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "22",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "orotava",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 140,
        "wires": [
            [
                "597d69034513b617",
                "4d2f78f769e6a4f8",
                "709342bf9606ee68"
            ]
        ]
    },
    {
        "id": "dd89e59f2e171af0",
        "type": "inject",
        "z": "ac5ff1e93343fdc4",
        "g": "828fd948ae8fccc5",
        "name": "Actualizar",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "page",
                "v": "1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 180,
        "wires": [
            [
                "b0979fc019df0930"
            ]
        ]
    },
    {
        "id": "f2ba5a20785da92e",
        "type": "function",
        "z": "ac5ff1e93343fdc4",
        "g": "828fd948ae8fccc5",
        "name": "CálculoFechas",
        "func": "const hoursToSubtract = 6; // change this value as needed\nconst now = new Date();\nconst past = new Date(now.getTime() - hoursToSubtract * 60 * 60 * 1000);\n\n\nmsg.dateFrom = encodeURIComponent(past.toISOString().substring(0, 16) + '+00:00');\nmsg.dateTo = encodeURIComponent(now.toISOString().substring(0, 16) + '+00:00');\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 180,
        "wires": [
            [
                "1e692a03ebcb0c6e",
                "2277daeda82b055d",
                "ec1d86e4eec736e1",
                "0f0e6fb680a45255",
                "21ab205c52079018",
                "3e1c832065f7e517"
            ]
        ]
    },
    {
        "id": "b0979fc019df0930",
        "type": "trigger",
        "z": "ac5ff1e93343fdc4",
        "g": "828fd948ae8fccc5",
        "name": "cada6h",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-6",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 280,
        "y": 180,
        "wires": [
            [
                "f2ba5a20785da92e"
            ]
        ]
    },
    {
        "id": "c943dd8822646770",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1210,
        "y": 140,
        "wires": [
            [
                "beaf31bfc3c9a8fd"
            ]
        ]
    },
    {
        "id": "beaf31bfc3c9a8fd",
        "type": "function",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionSQL",
        "func": "let variables = [\"TemperaturaAire\", \"PresionAtmosferica\", \"HumedadRelativa\"]\n\nlet columns = [\"ts\", \"air_temperature\", \"atmospheric_pressure\", \"relative_humidity\"];\n\nconst observationIntervalMs = 10 * 60 * 1000;\n\n// This object will hold the computed means grouped by the interval timestamp.\nlet resultByInterval = {};\n\nfor (let variable of variables) {\n  let data = msg.payload[variable]['results'];\n\n  for (let entry of data) {\n    let t = new Date(entry.resultTime);\n    // Use ceil as the observations after an interval contribute to the next\n    let intervalStart = new Date(Math.ceil(t.getTime() / observationIntervalMs) * observationIntervalMs);\n    // Use an ISO string as key.\n    let key = intervalStart.toISOString();\n\n    // Initialize group if necessary.\n    if (!resultByInterval[key]) {\n      resultByInterval[key] = {};\n    }\n    if (!resultByInterval[key][variable]) {\n      resultByInterval[key][variable] = { sum: 0, count: 0 };\n    }\n\n    resultByInterval[key][variable].sum += entry.result;\n    resultByInterval[key][variable].count += 1;\n  }\n}\n\n// Prepare the final result: an array where each entry corresponds to a 10-min interval.\n// Each entry contains the timestamp and the mean for each variable that had data in that interval.\nlet finalResults = [];\n\nfor (let interval in resultByInterval) {\n  let record = { interval };\n  for (let variable of variables) {\n    if (resultByInterval[interval][variable]) {\n      let { sum, count } = resultByInterval[interval][variable];\n      record[variable] = sum / count;\n    } else {\n      record[variable] = null;\n    }\n  }\n  finalResults.push(record);\n}\n\nlet values = finalResults.map(record => {\n    return `('${record.interval}', ${variables.map(v => record[v] !== null ? record[v] : 'NULL').join(', ')})`;\n}).join(',');\n\n// Construir la consulta completa\nmsg.payload = `INSERT INTO grafcan_${msg.station_table} (${columns.join(', ')}) \n                   VALUES ${values} \n                   ON CONFLICT(ts) DO UPDATE SET \n                   ${columns.map(c => `${c} = excluded.${c}`).join(', ')};`;\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1390,
        "y": 140,
        "wires": [
            [
                "e71b5cb6d7be3034",
                "911612affa2792dd"
            ]
        ]
    },
    {
        "id": "597d69034513b617",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2030",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 80,
        "wires": [
            [
                "e23df2acfa4feeaa"
            ]
        ]
    },
    {
        "id": "4d2f78f769e6a4f8",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2022",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 120,
        "wires": [
            [
                "e23df2acfa4feeaa"
            ]
        ]
    },
    {
        "id": "709342bf9606ee68",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2024",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 160,
        "wires": [
            [
                "e23df2acfa4feeaa"
            ]
        ]
    },
    {
        "id": "2277daeda82b055d",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionCuesta",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "9",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "cuesta",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 400,
        "wires": [
            [
                "0c1358ed8efbbb0c",
                "10d7c4320a9bd6bd",
                "d5806d320c01f6bf"
            ]
        ]
    },
    {
        "id": "0c1358ed8efbbb0c",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1848",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 360,
        "wires": [
            [
                "f5831182f908c8bc"
            ]
        ]
    },
    {
        "id": "10d7c4320a9bd6bd",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1840",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 400,
        "wires": [
            [
                "f5831182f908c8bc"
            ]
        ]
    },
    {
        "id": "d5806d320c01f6bf",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1842",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 440,
        "wires": [
            [
                "f5831182f908c8bc"
            ]
        ]
    },
    {
        "id": "f5831182f908c8bc",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 1070,
        "y": 400,
        "wires": [
            [
                "52406005726d92df"
            ]
        ]
    },
    {
        "id": "5961e93125cdcd7a",
        "type": "inject",
        "z": "ac5ff1e93343fdc4",
        "g": "f0ac185242f45480",
        "name": "Historico",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 600,
        "wires": [
            [
                "1a0051617ef581d4"
            ]
        ]
    },
    {
        "id": "0e0af2f148980a05",
        "type": "delay",
        "z": "ac5ff1e93343fdc4",
        "g": "f0ac185242f45480",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 320,
        "y": 680,
        "wires": [
            [
                "1a0051617ef581d4"
            ]
        ]
    },
    {
        "id": "1a0051617ef581d4",
        "type": "function",
        "z": "ac5ff1e93343fdc4",
        "g": "f0ac185242f45480",
        "name": "IntervaloFechas",
        "func": "const start = new Date(2025, 2, 1);\nconst end = new Date(2025, 4, 1);\n\nmsg.dateFromRaw = start;\nmsg.dateToRaw = end;\n\nconst startDate = new Date(msg.dateFromRaw.toISOString().substring(0, 10));\nconst endDate = new Date(msg.dateToRaw.toISOString().substring(0, 10));\n\nconst batchPerDay = 3;\n\nif (!msg.currentDate) {\n    msg.currentDate = new Date(startDate);\n    msg.nextDate = new Date(startDate);\n    msg.nextDate.setDate(msg.nextDate.getDate() + 1);\n    msg.page = 1;\n} else {\n    if (msg.page < batchPerDay) {\n        msg.page += 1;\n    } else {\n        msg.page = 1;\n        msg.currentDate.setDate(msg.currentDate.getDate() + 1);\n        msg.nextDate.setDate(msg.nextDate.getDate() + 1);\n    }\n}\n\nif (msg.currentDate > endDate) {\n    return null; // Stop loop when endDate is reached\n}\n\nmsg.dateFrom = encodeURIComponent(msg.currentDate.toISOString().substring(0, 16) + '+00:00');\nmsg.dateTo = encodeURIComponent(msg.nextDate.toISOString().substring(0, 16) + '+00:00');\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 320,
        "y": 600,
        "wires": [
            [
                "0e0af2f148980a05",
                "1e692a03ebcb0c6e",
                "ec1d86e4eec736e1",
                "2277daeda82b055d",
                "0f0e6fb680a45255",
                "21ab205c52079018",
                "3e1c832065f7e517"
            ]
        ]
    },
    {
        "id": "911612affa2792dd",
        "type": "postgresql",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "b5d03cf417768022",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1590,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "e71b5cb6d7be3034",
        "type": "debug",
        "z": "ac5ff1e93343fdc4",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1580,
        "y": 80,
        "wires": []
    },
    {
        "id": "52406005726d92df",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1210,
        "y": 400,
        "wires": [
            [
                "beaf31bfc3c9a8fd",
                "341a4b2720b61926"
            ]
        ]
    },
    {
        "id": "341a4b2720b61926",
        "type": "debug",
        "z": "ac5ff1e93343fdc4",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1480,
        "y": 460,
        "wires": []
    },
    {
        "id": "ec1d86e4eec736e1",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionArona",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "44",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "arona",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 260,
        "wires": [
            [
                "6ee8fcb2ee8d9f71",
                "ceff5f3af2f7eabf",
                "9c7644dc4aed1d0f"
            ]
        ]
    },
    {
        "id": "0fc649a5a5f52d57",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 1070,
        "y": 240,
        "wires": [
            [
                "b3860aa1b284ca59"
            ]
        ]
    },
    {
        "id": "6ee8fcb2ee8d9f71",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2360",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 220,
        "wires": [
            [
                "0fc649a5a5f52d57"
            ]
        ]
    },
    {
        "id": "ceff5f3af2f7eabf",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2364",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 260,
        "wires": [
            [
                "0fc649a5a5f52d57"
            ]
        ]
    },
    {
        "id": "9c7644dc4aed1d0f",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2361",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 300,
        "wires": [
            [
                "0fc649a5a5f52d57"
            ]
        ]
    },
    {
        "id": "b3860aa1b284ca59",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1210,
        "y": 240,
        "wires": [
            [
                "beaf31bfc3c9a8fd",
                "341a4b2720b61926"
            ]
        ]
    },
    {
        "id": "d93b7e4ba102a45b",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionElRosario",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "51",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "el_rosario",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1970,
        "y": 220,
        "wires": [
            [
                "b256b318e442d10a",
                "c4c04b21e123fd1b",
                "1fc47cad116e58c1"
            ]
        ]
    },
    {
        "id": "b256b318e442d10a",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2483",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 180,
        "wires": [
            [
                "7165015052196f2f"
            ]
        ]
    },
    {
        "id": "c4c04b21e123fd1b",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2487",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 240,
        "wires": [
            [
                "7165015052196f2f"
            ]
        ]
    },
    {
        "id": "1fc47cad116e58c1",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2484",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 300,
        "wires": [
            [
                "7165015052196f2f"
            ]
        ]
    },
    {
        "id": "7165015052196f2f",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2510,
        "y": 220,
        "wires": [
            [
                "ff3610178bb4c2e9"
            ]
        ]
    },
    {
        "id": "ff3610178bb4c2e9",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2650,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f19726f1dc31c6b6",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2490,
        "y": 440,
        "wires": [
            [
                "756c2e4c7c2595a9"
            ]
        ]
    },
    {
        "id": "1d62049e06eb3591",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2407",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 380,
        "wires": [
            [
                "f19726f1dc31c6b6"
            ]
        ]
    },
    {
        "id": "96267f445fbeecfd",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2400",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 440,
        "wires": [
            [
                "f19726f1dc31c6b6"
            ]
        ]
    },
    {
        "id": "94cd592400d110f9",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2401",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 500,
        "wires": [
            [
                "f19726f1dc31c6b6"
            ]
        ]
    },
    {
        "id": "a566477df7e13655",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionCristianos",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "47",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "cristianos",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 460,
        "wires": [
            [
                "1d62049e06eb3591",
                "96267f445fbeecfd",
                "94cd592400d110f9"
            ]
        ]
    },
    {
        "id": "756c2e4c7c2595a9",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2650,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "882b20ce1e4f13ec",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionSantiagoTeideA",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "3",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "santiago_teide",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2030,
        "y": 660,
        "wires": [
            [
                "58e2277e1dd0357e",
                "df6f8911597bad2e",
                "e825099fd7d18cc8"
            ]
        ]
    },
    {
        "id": "58e2277e1dd0357e",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1764",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 600,
        "wires": [
            [
                "fa6c0ac6718ac90f"
            ]
        ]
    },
    {
        "id": "df6f8911597bad2e",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1756",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2250,
        "y": 660,
        "wires": [
            [
                "fa6c0ac6718ac90f"
            ]
        ]
    },
    {
        "id": "e825099fd7d18cc8",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1758",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2280,
        "y": 720,
        "wires": [
            [
                "fa6c0ac6718ac90f"
            ]
        ]
    },
    {
        "id": "fa6c0ac6718ac90f",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2510,
        "y": 640,
        "wires": [
            [
                "aac7f8ced8a99f52"
            ]
        ]
    },
    {
        "id": "aac7f8ced8a99f52",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2670,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "0f0e6fb680a45255",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionPuntaHidalgo",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "49",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "punta_hidalgo",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 620,
        "y": 540,
        "wires": [
            [
                "12c816589ea48ee2",
                "8d6896e99b89b407",
                "3fd5f8b85c820434"
            ]
        ]
    },
    {
        "id": "12c816589ea48ee2",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2454",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 500,
        "wires": [
            [
                "692434d10a8fc7a5"
            ]
        ]
    },
    {
        "id": "8d6896e99b89b407",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2458",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 540,
        "wires": [
            [
                "692434d10a8fc7a5"
            ]
        ]
    },
    {
        "id": "3fd5f8b85c820434",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2455",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 580,
        "wires": [
            [
                "692434d10a8fc7a5"
            ]
        ]
    },
    {
        "id": "692434d10a8fc7a5",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 1070,
        "y": 560,
        "wires": [
            [
                "b7c24414e2512b12"
            ]
        ]
    },
    {
        "id": "b7c24414e2512b12",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1210,
        "y": 560,
        "wires": [
            [
                "beaf31bfc3c9a8fd",
                "341a4b2720b61926"
            ]
        ]
    },
    {
        "id": "84b26337d65365c3",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1968",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 860,
        "wires": [
            [
                "9b05f828cf64a70e"
            ]
        ]
    },
    {
        "id": "002ac733242ecbdc",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionBuenavistaNorte",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "buenavista_norte",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2070,
        "y": 860,
        "wires": [
            [
                "351f33c3bb1de82d",
                "7a4eb28f23c96efb",
                "34212eb566d9aeaa"
            ]
        ]
    },
    {
        "id": "351f33c3bb1de82d",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2604",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 800,
        "wires": [
            [
                "d35e3d2d7431ed92"
            ]
        ]
    },
    {
        "id": "7a4eb28f23c96efb",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2638",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 860,
        "wires": [
            [
                "d35e3d2d7431ed92"
            ]
        ]
    },
    {
        "id": "34212eb566d9aeaa",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2639",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 920,
        "wires": [
            [
                "d35e3d2d7431ed92"
            ]
        ]
    },
    {
        "id": "d35e3d2d7431ed92",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2550,
        "y": 840,
        "wires": [
            [
                "58a8ab46927ae5d0"
            ]
        ]
    },
    {
        "id": "58a8ab46927ae5d0",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2710,
        "y": 840,
        "wires": [
            []
        ]
    },
    {
        "id": "79b121bc5cda2efa",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionBuenavistaNorte",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "50",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "buenavista_norte",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2050,
        "y": 1100,
        "wires": [
            [
                "530fc9d4bf240929",
                "9bd435d54c4b34cc",
                "18997a51ee78798a"
            ]
        ]
    },
    {
        "id": "530fc9d4bf240929",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2604",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1040,
        "wires": [
            [
                "d2064a0cddcc53a3"
            ]
        ]
    },
    {
        "id": "9bd435d54c4b34cc",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2462",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2270,
        "y": 1100,
        "wires": [
            [
                "d2064a0cddcc53a3"
            ]
        ]
    },
    {
        "id": "18997a51ee78798a",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2463",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2300,
        "y": 1160,
        "wires": [
            [
                "d2064a0cddcc53a3"
            ]
        ]
    },
    {
        "id": "d2064a0cddcc53a3",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2530,
        "y": 1080,
        "wires": [
            [
                "860b776318a9e996"
            ]
        ]
    },
    {
        "id": "860b776318a9e996",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2690,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "d6104d0e97e72c76",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionSantiagoTeide",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "46",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "santiago_teide",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2060,
        "y": 1360,
        "wires": [
            [
                "e5a7dfbebcf0e0cf",
                "b5e1d3bf83864009",
                "626ab04b11581f05"
            ]
        ]
    },
    {
        "id": "e5a7dfbebcf0e0cf",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2392",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 1300,
        "wires": [
            [
                "f58bb46fa916bfc3"
            ]
        ]
    },
    {
        "id": "b5e1d3bf83864009",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2384",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2290,
        "y": 1360,
        "wires": [
            [
                "f58bb46fa916bfc3"
            ]
        ]
    },
    {
        "id": "626ab04b11581f05",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2386",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2320,
        "y": 1420,
        "wires": [
            [
                "f58bb46fa916bfc3"
            ]
        ]
    },
    {
        "id": "f58bb46fa916bfc3",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2550,
        "y": 1340,
        "wires": [
            [
                "1d4f02c271f174a6"
            ]
        ]
    },
    {
        "id": "1d4f02c271f174a6",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2710,
        "y": 1340,
        "wires": [
            []
        ]
    },
    {
        "id": "341c044f05f802ff",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionAdeje",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "54",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "adeje",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1980,
        "y": 1840,
        "wires": [
            [
                "bcdbf84976321f8e",
                "62a98dbe96a4f43c",
                "0d688953f578b25f"
            ]
        ]
    },
    {
        "id": "bcdbf84976321f8e",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2530",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 1780,
        "wires": [
            [
                "75a8aab8f49094be"
            ]
        ]
    },
    {
        "id": "62a98dbe96a4f43c",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2523",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2230,
        "y": 1840,
        "wires": [
            [
                "75a8aab8f49094be"
            ]
        ]
    },
    {
        "id": "0d688953f578b25f",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2524",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 2260,
        "y": 1900,
        "wires": [
            [
                "75a8aab8f49094be"
            ]
        ]
    },
    {
        "id": "75a8aab8f49094be",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 2490,
        "y": 1820,
        "wires": [
            [
                "e8f12c1a62908389"
            ]
        ]
    },
    {
        "id": "e8f12c1a62908389",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2650,
        "y": 1820,
        "wires": [
            []
        ]
    },
    {
        "id": "21ab205c52079018",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionSC",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "56",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "santa_cruz",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "8c1cdc5f9edae697",
                "3729d3924fcd48ea",
                "1b480be3e5c2fb2c"
            ]
        ]
    },
    {
        "id": "8c1cdc5f9edae697",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2559",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 640,
        "wires": [
            [
                "210e36ad330a9aeb"
            ]
        ]
    },
    {
        "id": "3729d3924fcd48ea",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2551",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 680,
        "wires": [
            [
                "210e36ad330a9aeb"
            ]
        ]
    },
    {
        "id": "1b480be3e5c2fb2c",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "TemperaturaAire",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "2553",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "TemperaturaAire",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 720,
        "wires": [
            [
                "210e36ad330a9aeb"
            ]
        ]
    },
    {
        "id": "210e36ad330a9aeb",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 1070,
        "y": 680,
        "wires": [
            [
                "67d48a595b7cf8c5"
            ]
        ]
    },
    {
        "id": "67d48a595b7cf8c5",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1210,
        "y": 680,
        "wires": [
            [
                "beaf31bfc3c9a8fd",
                "341a4b2720b61926"
            ]
        ]
    },
    {
        "id": "3e1c832065f7e517",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "EstacionGarachico",
        "rules": [
            {
                "t": "set",
                "p": "thing_id",
                "pt": "msg",
                "to": "18",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "station_table",
                "pt": "msg",
                "to": "garachico",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 820,
        "wires": [
            [
                "0fb3602bcee790be",
                "1ccd87a15f6d4525",
                "84b26337d65365c3"
            ]
        ]
    },
    {
        "id": "0fb3602bcee790be",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "PresionAtmosferica",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1974",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "PresionAtmosferica",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 780,
        "wires": [
            [
                "9b05f828cf64a70e"
            ]
        ]
    },
    {
        "id": "1ccd87a15f6d4525",
        "type": "change",
        "z": "ac5ff1e93343fdc4",
        "name": "HumedadRelativa",
        "rules": [
            {
                "t": "set",
                "p": "datastream",
                "pt": "msg",
                "to": "1966",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "HumedadRelativa",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 820,
        "wires": [
            [
                "9b05f828cf64a70e"
            ]
        ]
    },
    {
        "id": "9b05f828cf64a70e",
        "type": "http request",
        "z": "ac5ff1e93343fdc4",
        "name": "peticionAPI",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://sensores.grafcan.es/api/v1.0/observations/?datastream__thing={{{thing_id}}}&result_time_after={{{dateFrom}}}&result_time_before={{{dateTo}}}&datastream={{{datastream}}}&page={{{page}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "other",
                "keyValue": "accept",
                "valueType": "other",
                "valueValue": "application/json"
            },
            {
                "keyType": "other",
                "keyValue": "Authorization",
                "valueType": "other",
                "valueValue": "Api-Key t96Ff6lD.gMd1FS8ZBeEjoNgbKKfwH4bA1dnmi6TR"
            }
        ],
        "x": 1070,
        "y": 820,
        "wires": [
            [
                "d64863a95c135672"
            ]
        ]
    },
    {
        "id": "d64863a95c135672",
        "type": "join",
        "z": "ac5ff1e93343fdc4",
        "name": "",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\\n",
        "joinerType": "str",
        "useparts": false,
        "accumulate": false,
        "timeout": "",
        "count": "3",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 1210,
        "y": 820,
        "wires": [
            [
                "beaf31bfc3c9a8fd",
                "341a4b2720b61926"
            ]
        ]
    },
    {
        "id": "bd6cc888142034bd",
        "type": "comment",
        "z": "ac5ff1e93343fdc4",
        "g": "828fd948ae8fccc5",
        "name": "Datos en tiempo real",
        "info": "",
        "x": 210,
        "y": 120,
        "wires": []
    },
    {
        "id": "a35366a13b4e809f",
        "type": "comment",
        "z": "ac5ff1e93343fdc4",
        "g": "f0ac185242f45480",
        "name": "Datos históricos",
        "info": "",
        "x": 200,
        "y": 540,
        "wires": []
    },
    {
        "id": "9e8a99185e3350ed",
        "type": "inject",
        "z": "23d3cf0a3496401e",
        "g": "09b02b2d35a7817d",
        "name": "Predicciones2dias",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 200,
        "wires": [
            [
                "c4acccca2bd0358a"
            ]
        ]
    },
    {
        "id": "db272724bab6794f",
        "type": "http request",
        "z": "23d3cf0a3496401e",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "{{{payload}}}",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1250,
        "y": 440,
        "wires": [
            [
                "e916b988ddfc221f"
            ]
        ]
    },
    {
        "id": "73fa8a22d0710a6a",
        "type": "comment",
        "z": "23d3cf0a3496401e",
        "g": "09b02b2d35a7817d",
        "name": "Datos en tiempo real",
        "info": "",
        "x": 170,
        "y": 140,
        "wires": []
    },
    {
        "id": "e916b988ddfc221f",
        "type": "function",
        "z": "23d3cf0a3496401e",
        "name": "peticiónSQL",
        "func": "let data = {};\n\n// Mapeo de claves originales a nuevas claves\nconst keyMap = {\n    'time': 'ts',\n    'temperature_2m': 'air_temperature',\n    'surface_pressure': 'atmospheric_pressure',\n    'relative_humidity_2m':'relative_humidity',\n};\n\n// Copiar y transformar las claves del objeto original\nfor (let key in msg.payload.hourly) {\n    const newKey = keyMap[key] || key; // Usar la nueva clave si existe en el mapeo, de lo contrario, la clave original\n    data[newKey] = msg.payload.hourly[key];\n}\n\n\nlet keys = Object.keys(data);\n// Construir la parte de las columnas (en formato SQL)\nlet columns = keys.join(', ');\nlet length = data[keys[0]].length;\n\nif (keys.every(key => data[key].length === length)) {\n\n    // Construir la parte de los valores para la consulta\n    let values = Array.from({ length }).map((_, index) => {\n        return `(${keys.map(key => \n            // Si el valor es una cadena, agregar comillas\n            data[key][index] === null ? 'NULL' : \n            (typeof data[key][index] === 'string' ? `'${data[key][index]}'` : data[key][index])\n        ).join(', ')})`;\n    }).join(',');\n\n    // Construir la consulta completa\n    msg.payload = `INSERT INTO ${msg.table_name} (${columns}) \n                   VALUES ${values} \n                   ON CONFLICT(ts) DO UPDATE SET \n                   ${keys.map(key => `${key} = excluded.${key}`).join(', ')};`;\n\n} else {\n    throw \"Error: Los arrays no tienen la misma longitud.\";\n}\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1410,
        "y": 440,
        "wires": [
            [
                "11e79f60997d5706",
                "bf91614249af48c4"
            ]
        ]
    },
    {
        "id": "de93898b4de01368",
        "type": "comment",
        "z": "23d3cf0a3496401e",
        "g": "50a43dec8ecaae07",
        "name": "Datos históricos",
        "info": "",
        "x": 160,
        "y": 500,
        "wires": []
    },
    {
        "id": "68bf10eabf62b720",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "g": "50a43dec8ecaae07",
        "name": "Fechas",
        "rules": [
            {
                "t": "set",
                "p": "startDate",
                "pt": "msg",
                "to": "2022-12-01",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "endDate",
                "pt": "msg",
                "to": "2025-03-01",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 380,
        "y": 560,
        "wires": [
            [
                "888b947ffd24cf2a",
                "334d927fcc746b74",
                "bf2b919c407887df",
                "33b9bd5eeaf1d479",
                "341ada5bddfaad3d",
                "47d463db16cebdbe"
            ]
        ]
    },
    {
        "id": "89fa674e6b03b2fc",
        "type": "inject",
        "z": "23d3cf0a3496401e",
        "g": "50a43dec8ecaae07",
        "name": "PrediccionesHistóricas",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 560,
        "wires": [
            [
                "68bf10eabf62b720"
            ]
        ]
    },
    {
        "id": "a8b988c67fdf4f2f",
        "type": "function",
        "z": "23d3cf0a3496401e",
        "g": "09b02b2d35a7817d",
        "name": "Fechas",
        "func": "let now = new Date();\nlet year = now.getFullYear();\nlet month = String(now.getMonth() + 1).padStart(2, '0'); // Months are 0-based\nlet day = String(now.getDate()).padStart(2, '0');\n\nmsg.startDate = `${year}-${month}-${day}`;\n\n// Definir el intervalo en días\nlet interval = 2; \n\nlet endDate = new Date(now);\nendDate.setDate(now.getDate() + interval);\nlet endYear = endDate.getFullYear();\nlet endMonth = String(endDate.getMonth() + 1).padStart(2, '0');\nlet endDay = String(endDate.getDate()).padStart(2, '0');\n\nmsg.endDate = `${endYear}-${endMonth}-${endDay}`;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 200,
        "wires": [
            [
                "888b947ffd24cf2a",
                "334d927fcc746b74",
                "bf2b919c407887df",
                "33b9bd5eeaf1d479",
                "341ada5bddfaad3d",
                "47d463db16cebdbe"
            ]
        ]
    },
    {
        "id": "c4acccca2bd0358a",
        "type": "trigger",
        "z": "23d3cf0a3496401e",
        "g": "09b02b2d35a7817d",
        "name": "cada6horas",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-6",
        "extend": false,
        "overrideDelay": false,
        "units": "hr",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 330,
        "y": 200,
        "wires": [
            [
                "a8b988c67fdf4f2f"
            ]
        ]
    },
    {
        "id": "11e79f60997d5706",
        "type": "debug",
        "z": "23d3cf0a3496401e",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1560,
        "y": 320,
        "wires": []
    },
    {
        "id": "334d927fcc746b74",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Arona",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.005849724777484",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.683871771694157",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_arona_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 360,
        "wires": [
            [
                "7706c74e67663814",
                "5a55a58d1808688e"
            ]
        ]
    },
    {
        "id": "888b947ffd24cf2a",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "La Orotava",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.367153388517114",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.528673321794106",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_orotava_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 320,
        "wires": [
            [
                "7706c74e67663814",
                "5a55a58d1808688e"
            ]
        ]
    },
    {
        "id": "bf2b919c407887df",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "La Cuesta",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.467173667455896",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.292337071782708",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_cuesta_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 400,
        "wires": [
            [
                "7706c74e67663814",
                "5a55a58d1808688e"
            ]
        ]
    },
    {
        "id": "bf91614249af48c4",
        "type": "postgresql",
        "z": "23d3cf0a3496401e",
        "name": "",
        "query": "{{{msg.payload}}}",
        "postgreSQLConfig": "b5d03cf417768022",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 1590,
        "y": 500,
        "wires": [
            []
        ]
    },
    {
        "id": "7706c74e67663814",
        "type": "template",
        "z": "23d3cf0a3496401e",
        "name": "ConstruirPeticionArpege",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://historical-forecast-api.open-meteo.com/v1/forecast?latitude={{{latitude}}}&longitude={{{longitude}}}&hourly=temperature_2m,relative_humidity_2m,surface_pressure&timezone=GMT&start_date={{{startDate}}}&end_date={{{endDate}}}&models=meteofrance_arpege_europe\n",
        "output": "str",
        "x": 890,
        "y": 520,
        "wires": [
            [
                "3ccd64fac0ed8397"
            ]
        ]
    },
    {
        "id": "5a55a58d1808688e",
        "type": "template",
        "z": "23d3cf0a3496401e",
        "name": "ConstruirPeticionIcon",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "https://historical-forecast-api.open-meteo.com/v1/forecast?latitude={{{latitude}}}&longitude={{{longitude}}}&hourly=temperature_2m,relative_humidity_2m,surface_pressure&timezone=GMT&start_date={{{startDate}}}&end_date={{{endDate}}}&models=icon_global\n",
        "output": "str",
        "x": 880,
        "y": 360,
        "wires": [
            [
                "de4e53edda33eb31"
            ]
        ]
    },
    {
        "id": "341ada5bddfaad3d",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Santa Cruz",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.453829218127",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.267797059024",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_santa_cruz_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 480,
        "wires": [
            [
                "7706c74e67663814",
                "5a55a58d1808688e"
            ]
        ]
    },
    {
        "id": "3ccd64fac0ed8397",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "set db table",
        "rules": [
            {
                "t": "change",
                "p": "table_name",
                "pt": "msg",
                "from": "model",
                "fromt": "str",
                "to": "arpege",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1090,
        "y": 520,
        "wires": [
            [
                "db272724bab6794f"
            ]
        ]
    },
    {
        "id": "de4e53edda33eb31",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "set db table",
        "rules": [
            {
                "t": "change",
                "p": "table_name",
                "pt": "msg",
                "from": "model",
                "fromt": "str",
                "to": "icon",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 360,
        "wires": [
            [
                "db272724bab6794f"
            ]
        ]
    },
    {
        "id": "47d463db16cebdbe",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Garachico",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.340361823312847",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.75689429313361",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_garachico_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 520,
        "wires": [
            [
                "7706c74e67663814",
                "5a55a58d1808688e"
            ]
        ]
    },
    {
        "id": "33b9bd5eeaf1d479",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Punta Hidalgo",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.56950535030508",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.32573868031188",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_punta_hidalgo_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 640,
        "y": 440,
        "wires": [
            [
                "7706c74e67663814",
                "5a55a58d1808688e"
            ]
        ]
    },
    {
        "id": "e1674dbca5887b21",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Los Cristianos",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.057623302788404",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.716917942488553",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_cristianos_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "925e2fbe6dfe3070",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Santiago del Teide",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.23341202494747",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.838161919121422",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_santiago_teide_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 610,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "6ed80afa704ede01",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Santiago del Teide B",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.23341202494747",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.838161919121422",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_santiago_teide_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "a40a1a349fe94702",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Santiago del Teide B",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.169011311312257",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.73359612528364",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_adeje_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 700,
        "y": 980,
        "wires": [
            []
        ]
    },
    {
        "id": "653a69cd9c7f2ae7",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "el Rosario",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.41041988307398",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.32394055672787",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_el_rosario_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "f31e108d3aed91ee",
        "type": "change",
        "z": "23d3cf0a3496401e",
        "name": "Buenavista Norte",
        "rules": [
            {
                "t": "set",
                "p": "latitude",
                "pt": "msg",
                "to": "28.356378540693843",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "longitude",
                "pt": "msg",
                "to": "-16.90852984008341",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "table_name",
                "pt": "msg",
                "to": "openmeteo_buenavista_norte_model",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 210,
        "y": 920,
        "wires": [
            []
        ]
    },
    {
        "id": "131cb53b36dec0e6",
        "type": "inject",
        "z": "3132f082b38ee5af",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 220,
        "y": 240,
        "wires": [
            [
                "6c40eb116f8fb375"
            ]
        ]
    },
    {
        "id": "4cbf193ad76ae46a",
        "type": "debug",
        "z": "3132f082b38ee5af",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 640,
        "y": 260,
        "wires": []
    },
    {
        "id": "6c40eb116f8fb375",
        "type": "postgresql",
        "z": "3132f082b38ee5af",
        "name": "",
        "query": "delete FROM ;",
        "postgreSQLConfig": "b5d03cf417768022",
        "split": false,
        "rowsPerMsg": 1,
        "outputs": 1,
        "x": 410,
        "y": 240,
        "wires": [
            [
                "4cbf193ad76ae46a"
            ]
        ]
    }
]